.popup {
  display: none;
  position: fixed;
  width: 370px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popup_opened {
  display: flex;
}

.popup__container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 36px;
  width: 100%;
  max-width: 430px;
  box-sizing: border-box;
  position: relative;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup__button {
  font-size: 18px;
  color: #ffffff;
}

.popup__button-close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button-close:hover {
  opacity: 0.6;
}

.popup__close-icon {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.popup__title {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 20px 0;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  padding: 10px 0;
  max-width: 360px;
  width: 100%;
}

.popup__button-submit {
  height: 50px;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popup__button-submit:hover {
  opacity: 0.8;
}

.popup_image {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
}

.popup_image.popup_opened {
  display: flex;
}

.popup__container_image {
  background-color: transparent;
  width: auto;
  max-width: 100%;
  max-height: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup__photo {
  width: auto;
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
}

.popup__caption {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
}

.popup__button-close_image {
  position: relative;
  left: 45%;
  top: 0%;
  background: none;
  border: none;
  cursor: pointer;
}

.popup__close-icon_image {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 584px) {
  .popup__container {
    padding: 20px;
    max-width: 280px;
  }

  .popup__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .popup__button-close {
    top: 8px;
    right: 8px;
    font-size: 20px;
  }

  .popup__input,
  .popup__button-submit {
    font-size: 16px;
  }
}
